/* General styles */
  /* Container for the entire page */
  .legal-lens-page {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    
    
  }
  body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../assets/background-image.jpg');
    /* background-color: black; */
    background-size:cover; /* Ensures the image covers the entire background */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: white;
  }
  
  /* Header styles */
 
  
  /* .sign-up-button, .login-button{
    background-color: rgb(234, 0, 255);
  color: white;
  box-shadow: 0 4px 6px rgba(255, 0, 242, 0.3);
  margin-right: 10px; 
  }
  .sign-up-button:hover, .login-button{
    background-color: #ffffff;
  color: rgb(228, 198, 228);
  box-shadow: 0 6px 8px rgba(255, 0, 242, 0.3);
  margin-left: 10px; 
  } */
  .auth-buttons {
    display: flex;
    gap: 10px;
  }
  
  
  
  /* Main content styles */
  .main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    text-align: center;
  }
  
  .legal-lens-icon {
    width: 150px;
    margin-bottom: 0px;
    margin-top: 0px;
    opacity: 0;
    will-change: filter;
  transition: filter 300ms;
  /* box-shadow: 0 0 10px rgba(0, 255, 234, 0.7); */
  }
  .legal-lens-icon:hover {
    /* box-shadow: 0 0 10px rgba(0, 255, 234, 0.7); */
    filter: drop-shadow(0 0 2em #64ffffaa);
  }
  
  .heading{
    font-size: 3rem;
  color: #ffffff; /* White text color for contrast */
  text-align: center;
  text-shadow: 0 0 5px #00f7ff, 0 0 10px #00ccbb, 0 0 15px #009499;
  margin: 0px 0;
  transition: text-shadow 0.3s ease; 
  }
  .heading:hover{
    text-shadow: 0 0 5px #00f7ff, 0 0 10px #00ccbb, 0 0 15px #009499;
  }
  
  
  .tagline {
    font-size: 2rem;
    color: #ffffff; /* White text color for contrast */
    text-align: center;
    text-shadow: 0 0 5px #00f7ff, 0 0 10px #00ccbb, 0 0 15px #009499;
    margin: 1px 0;
    transition: text-shadow 0.3s ease; 
  }
  .tagline:hover{
    text-shadow: 0 0 5px #00f7ff, 0 0 10px #00ccbb, 0 0 15px #009499;
  }
  
  .instruction {
    margin-bottom: 20px;
    color:#b9f5f7;
  }
  
  .upload-button {
    background-color: #68a0b0;
    border: none;
    padding: 15px 30px;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    margin-bottom: 30px;
    border-radius: 25px;
  }
  
  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
  }
  
  .action-button {
    background-color: #1FC1A2;
    border: none;
    padding: 15px 20px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 25px;
  }
  .action-button:hover{
    background-color: #07A688;
  }
  
  /* Query section styles */
  .query-section {
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    padding: 10px;
    border-radius: 25px;
    width: 120%;
  }
  
  .query-input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 1rem;
    outline: none;
  }
  
  .query-submit-button {
    background-color: #68a0b0;
    border: none;
    padding: 10px 20px;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 50%;
  }
  
  